@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*aqui empieza el navbar*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  
  header {
    background: #5cc2f1;
    width: 100%;
    clear: both;
    content:'';
    display: table;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

  }
  
  .menu {
    width: 900px;
    margin: 0 auto;
  }
  

  
  nav {
    float: right;
  }
  
  nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 20px 0;
    float: left;
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #eee;
    font-weight: bold;
    padding: 15px;
  }
  
  nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
  }
  
  nav ul li a:hover::before {
    width: 100%;
  }

/* aqui termina mi navbar*/

/*aqui empieza el notelist*/
*,
*::before,
*::after {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

section {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(fondofinanzas.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  width: 600px;
  height: auto;
  min-height: 200px;
  padding: 30px;
  border: 2px solid rgb(23, 58, 99);
  border-radius: 15px;
  backdrop-filter: blur(15px);
  background: transparent;
}
h1 {
  color: #013658;
  text-align: center;
  margin-bottom: 36px;
  font-size: 50px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.todo-input {
  flex: 1;
  outline: none;
  padding: 10px 10px 10px 20px;
  background-color: transparent;
  border: 2px solid #013658;
  border-radius: 30px;
  color: #117cb9;
  font-size: 16px;
  margin-right: 10px;
}

.todo-input::placeholder {
  color: #08325aa1;
}

.add-button {
  border: none;
  outline: none;
  background: #013658;
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  border-radius: 40px;
  width: 40px;
  height: 40px;
}

.empty-image {
    margin: 50px auto 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 100%;
  margin:auto;
}

.todo {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #013658;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 12px;
  border: 2px solid #519be0a1;
  transition: all 0.2s ease;
}

.todo:first-child {
  margin-top: 0;
}

.todo:last-child {
  margin-bottom: 0;
}

.todo:hover {
  background-color: #519be0a1;
}

.todo label {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #efefef;
}

.todo span {
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}

span::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  margin-left: -30px;
  border-radius: 100px;
  border: 2px solid #ffff;
}

input[type='checkbox'] {
  visibility: hidden;
}

input:checked + span {
  text-decoration: line-through
}

.todo:hover input:checked + span::before, input:checked + span::before {
  background: url(./check.svg) 50% 50% no-repeat #09bb21;
  border-color: #09bb21;
}

.todo:hover span::before {
  border-color: #eee;
}

.todo .delete-btn  {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #eee;
  font-size: 24px;
}

.todos-container  {
  height: 300px;
  overflow: overlay;
}

.todos-container::-webkit-scrollbar-track  {
  background: rgb(247, 247, 247);
  border-radius: 20px
}

.todos-container::-webkit-scrollbar  {
  width: 0;
}

.todos-container:hover::-webkit-scrollbar  {
  width: 7px;
}

.todos-container::-webkit-scrollbar-thumb  {
  background: #d5d5d5;
  border-radius: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.filter {
  color: #eee;
  padding: 5px 15px;
  border-radius: 100px;
  border: 2px solid #013658;
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: #013658;
}

.filter.active, .filter:hover {
  background-color: #056ac9a1;
}

.delete-all {
  display: flex;
  color:#eee;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #013658;
  border-radius: 20px;
}

.delete-all:hover {
  border-radius: 20px;
  background-color: #519be0a1;
}
/*aqui acaba mi notelist*/

/*pie  de pagina, footer */


.pie-pagina {
    width: 100%;
    background-color: #0a141d;
    position: relative;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
}
.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
    width: 150px;

}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 45px;
    font-size: 15px;
    text-align: justify;
}
.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
    font-size: 12px;
    text-align: justify;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-align: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0879ad;
    padding: 15px 10px;
    text-align: center;
    color: #ffff;
}
.pie-pagina .grupo-2 small{
    font-size: 10px;
}
@media screen and (max-width:800px) {
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
}
}

