* {
    box-sizing: border-box;
}

section {
max-width: 600px;
margin: auto;
text-align: center;
border: 1px solid #000;
border-radius: 5px;
padding: 10px;
background-color: #5CB7E8;

}

input {
    width: 70%;
    padding: 10px;
}
button {
    width: 20%;
    margin: 15px 0;
    padding: 15px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #FA9269;
}
